.heading-1 {
    font-size: $fluid-font-h1;
}

.heading-2 {
    font-size: $fluid-font-h2;
}

.p-large {
    font-size: $fluid-font-pLarge;
}

.p-medium {
    font-size: $font-size-300;
}

.p-reg {
    font-size: $font-size-200;
}

.p-small {
    font-size: $font-size-100;
}