
/* Font Utilities */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.ts-200 {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.text-color-brand {
    color: $colorBrand;
}

.text-color-secundary {
    color: $colorOrange;
}

.text-color-white {
    color: $colorWhite;
}

.headline-small {
    font-size: $fluid-font-smallHeadline;
}


/* Margin Utilities */
.mb-100 {
    margin-bottom: 0.5em;
}

.mb-200 {
    margin-bottom: 1em;
}

.mb-300 {
    margin-bottom: 1.5em;
}

.mb-400 {
    margin-bottom: 2.5em;
}

.mb-700 {
    margin-bottom: $fluid-padding-300;
}

.mr-100 {
    margin-right: $padding-50;
}

.mc {
    margin-inline: auto;
}

/* Gap Utilities */

.gap-200 {
    gap:$padding-200;
}
.gap-600 {
    gap:$padding-600;
}
.gap-700 {
    gap:$padding-700;
}

.gap-800 {
    gap:$padding-800;
}

.cgap-300 {
    column-gap: $padding-800;
}

.rgap-300 {
    row-gap: 5.5rem;
}

.dflex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
