.btn {
	background-color: $colorBrand;
	color: $colorWhite;
	display: inline-block;
	padding: $padding-100 $padding-300;
	text-decoration: none;

    &--orange {
        background-color: $colorOrange;
    }

    &--large {
        font-size: $fluid-font-link;
        padding: $padding-200 $padding-600;
    }

    @mixin atSmall {
        width: max-content;
        margin-inline: auto;
    }
}
