.grid {
    --gap: $padding-800;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(var(--max-column-width), 1fr));
    gap: var(--gap);

    @mixin atSmall {
        --max-column-width: 1fr;
    }

    &__header {
        grid-template-columns: auto max-content;
    }
}