.primary-nav {
	&-content {
		display: flex;
		justify-content: flex-end;

		a {
			color: $colorWhite;
			text-decoration: none;

            @mixin atSmall {
                background-color: rgba($colorBrand, 0.5);
                padding: 8px;
            }
		}
	}

	& a.active {
		color: $colorOrange;
	  }


	@mixin atSmall {
		padding-block: 20px;
	}
}
