.site-header {
	position: absolute;
	background-color: rgba($colorBrand, 0.3);
	width: 100%;
	padding: $padding-100;
	transition: background-color 0.7s ease-out;
	position: fixed;
	z-index: 2;

	&__expanded {
		background-color: rgba($colorBrand, 0.7);
	}

	&--scrolled {
		background-color: rgba(23, 51, 72, 0.85);
	}

	&__logo {
		position: absolute;
		top: 0;
		background-color: $colorBrand;
		padding: $fluid-padding-250;
		transition: transform 0.3s ease-out;

		.site-header--scrolled & {
			transform: scale(.62);
			top: -25px;

			@mixin atSmall {
				transform: scale(0.8);
				top: -10px;
			}
		}
	}

	&__nav-content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		min-height: 48px;

		@mixin atSmall {
			padding-top: 120px;
		}

	}

	&__mobile-menu {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__bar {
            display: block;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transition: all 0.4s ease-in-out;
        }

        &.active &__bar:nth-child(2) {
            opacity: 0;
            transform: scaleX(0);
        }

        &.active &__bar:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }

        &.active &__bar:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
	}

	@mixin atSmall {
		padding: 0;
	}
}
